<br>
<br>
<div class="row">
  <div class="span12">
    <div class="span1">
    </div>
    <div class="span4">
        <%= simple_form_for @visitor do |f| %>
        <div>
      <p>Please fill out the form below:</p>
    </div>
      <div>
        <%= f.input :name, label: false, placeholder: 'Enter Name' %>
      </div>
        <div>
          <div>
            <%= f.input :email, label: false, placeholder: 'Enter Email' %>
          </div>
          <div>
            <%= f.input :tele, label: false, placeholder: 'Enter Telephone No' %>
          </div>
          <div>
            <p><input type="text" id="datepicker" placeholder="Start Date"/><i class="icon-calendar icon-1x"></i></p>
          </div>
          <div>
            <p><input type="text" id="datepicker1" placeholder="End Date"/><i class="icon-calendar icon-1x"></i></p>
          </div>
          <div>
            <%= f.input :enquiry, :input_html => { :rows => 2}, label: false, placeholder: 'Enter Enquiry' %>
          </div>
          <div>
            <%= f.button :submit %>
          </div><div class="span5">
          
          <% end %>
        </div>
      </div>
    </div>
    <div class="span5">
      <div>
      </div>
      <div>
      <h3><i class="icon-phone icon-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;250 888-2388</h3>
      </div>
      <div>
      <h3><i class="icon-envelope icon-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; david@exbritmusic.com<h3>
      </div>
      <div>
        <br>
      </div>
      <div>
        <%= image_tag("summer.jpg", class: "img-rounded") %>
      </div>
    </div>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />

<script>
  $(function() {
    $( "#datepicker" ).datepicker({
      
    });
  });
  </script>

  <script>
  $(function() {
    $( "#datepicker1" ).datepicker({
      
    });
  });
  </script>

 

