<div class="row">
  <div class="span12">
  	<div class="span1">
    </div>
  	<div class="span4">
			<p>Hello <%= @visitor.name %>,</p>

			<p>Here is a summary of your enquiry:</P>
				<br>
			<p>Name:&nbsp;&nbsp; <font color = "white"><%= @visitor.name %></font></p>

			<p>Email:&nbsp;&nbsp; <font color = "white"><%= @visitor.email %></font></p>

			<p>Telephone:&nbsp;&nbsp; <font color = "white"><%= @visitor.tele %></font></p>

			<p>Start Date:&nbsp;&nbsp; <font color = "white"><%= @visitor.start_date %></font></p>

			<p>End Date:&nbsp;&nbsp; <font color = "white"><%= @visitor.end_date %></font></p>

			<p>Enquiry:&nbsp;&nbsp; <font color = "white"><%= @visitor.enquiry %></font></p>
			<br>
			<p>We will contact you shortly to discuss your requirements.</p>
			<br>
			<p>Sincerely,</p>
			<br>
			<p>David W. Bower</p>
	</div>
	<div class="span5">
      <div>
        <%= image_tag("winter.jpg", class: "img-rounded") %>
      </div>
      <div class="span5">
      <div>
        <br>
      </div>
      <div>
      <h4><i class="icon-phone icon-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;250 888-2388</h4>
      </div>
      <div>
      <h4><i class="icon-envelope icon-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; david@exbritmusic.com</h4>
      </div>
      <div>
        <br>
      </div>
    </div>
</div>
</div>

