<div class="row">
  <div class="span12">
    <div class="span5">
      <p><font size="20">L</font>ocated in a beautiful and private waterfront home, Belle Isle has all of the amenities and gear needed to produce top quality master recordings.</p>

      <p>We have three great rooms: our concrete “Dead Room” houses our drum kit and is linked to the control room via closed circuit television. Our “Live Room” measures seventeen feet nine inches by eleven feet 9 inches and is also linked to the control room via closed circuit television, and our "Control  Room" measures thirteen feet nine inches by thirteen feet two inches.</p>

      <p>We have excellent acoustics and are proud to offer one of the world’s finest microphones: the classic “Wagner U47” with pre amp. This  mic was one of the best of it’s time and even today has few rivals with a better sound.</p>

      <p>Belle Isle has a wide range of excellent, top flight musicians available to help you on your next collaboration. We are rich in equipment, rich in experience and are excited about helping you to complete your next project. </p>
    </div>
    <div class="span2">
      <%= link_to image_tag("controlroom1.jpeg", class: "img-rounded"), asset_path("controlroom1large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Control Room" %>
      </div>
      <div class="span2">
      <%= link_to image_tag("liveroom1.jpeg", class: "img-rounded"), asset_path("liveroom1large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Live Room" %>
      </div>
    <div class="span2">
      <%= link_to image_tag("liveroom.jpeg", class: "img-rounded"), asset_path("liveroomlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Live Room" %>
      </div>
      <div class="span2">
        <br>
      <%= link_to image_tag("drumroom1.jpeg", class: "img-rounded"), asset_path("drumroom1large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Dead Room" %>
      </div>
      <div class="span2">
        <br>
      <%= link_to image_tag("controlroom.jpeg", class: "img-rounded"), asset_path("controlroomlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Control Room" %>
      </div>
      <div class="span2">
        <br>
      <%= link_to image_tag("controlroom2.jpeg", class: "img-rounded"), asset_path("controlroom2large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Control Room" %>
      </div>
      <div class="span2">
        <br>
      <%= link_to image_tag("controlroom3.jpeg", class: "img-rounded"), asset_path("controlroom3large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Control Room" %>
      </div>
      <div class="span2">
        <br>
      <%= link_to image_tag("drumroom2.jpeg", class: "img-rounded"), asset_path("drumroom2large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Dead Room" %>
      </div>
      <div class="span2">
        <br>
      <%= link_to image_tag("liveroom2.jpeg", class: "img-rounded"), asset_path("liveroom2large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Live Room" %>
    </div>



