<br/>
<div class="row">
  <div class="span12">
    <div class="span10">
      <p>Belle Isle Recording Studios is equipped with a <strong>Pro Tools HD 9.0 System</strong></p>

      <p>All software is legitimate.</p>

    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="span12">
    <div class="span1">
    </div>
    <div class="span4">
      <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Sound Mixing Equipment</h4>
      <br>
      <div class="span1">
      <%= link_to image_tag("control24.jpeg", class: "img-rounded"), asset_path("control24.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Control 24" %>
      </div>
        <div class="span1">
          <%= link_to image_tag("adconvertor.jpeg", class: "img-rounded"), asset_path("adconvertor.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "AD Convertor" %>
          </div>
            <div class="span1">
              <%= link_to image_tag("XLRPatch.jpeg", class: "img-rounded"), asset_path("XLRPatch.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "XLR Patch" %>
            </div>
          </div>
          <div class="span1">
                  </div>
              <div class="span4">
                <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Speakers</h4>
                <br>
                  <div class="span1">
                    <%= link_to image_tag("V4 speakers.jpeg", class: "img-rounded"), asset_path("V4 speakers.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "V4 Speakers" %>
                  </div>
                <div class="span1">
              <%= link_to image_tag("dynaudio.jpeg", class: "img-rounded"), asset_path("dynaudio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Dynaudio Acoustic" %>
              </div>
                <div class="span1">
                <%= link_to image_tag("YamahaNS10.jpeg", class: "img-rounded"), asset_path("YamahaNS10.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha NS 10 Speakers" %>
              </div>
            </div>
            <br />
            <br />
            <div class="row">
              <div class="span12">
                <div class="span1">
                </div>
                <div class="span4">
              <br>
              <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Amplifiers</h4>
              <br>
              <div class="span1">
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
                <div class="span1">
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>

              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
                <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>

              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
                <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
            </div>
      

            <div class="span1">
            </div>
                <div class="span4">
                  <br>
                  <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Microphones</h4>
                  <br>
                  <div class="span1">
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
                <div class="span1">
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
                <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
                <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
            </div>

            <div class="row">
              <div class="span12">
                <div class="span1">
                </div>
                <div class="span4">
                  <br>
                    <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Installed Software</h4>
                    <br>
                      <div class="span1">
                    <%= link_to image_tag("minimoog.jpeg", class: "img-rounded"), asset_path("minimoog.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Mini Moog" %>
                  </div>
                  <div class="span1">
                        <%= link_to image_tag("motu.jpeg", class: "img-rounded"), asset_path("motu.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Motu Symphonic" %>
                      </div>
                    <div class="span1">
                      <%= link_to image_tag("stylusrmx.jpeg", class: "img-rounded"), asset_path("stylusrmx.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Stylus RMX" %>
                    </div>
                    <div class="span1">
                  <br>
                <%= link_to image_tag("soundreplacer.jpeg", class: "img-rounded"), asset_path("soundreplacer.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Sound Replacer" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("waves.jpeg", class: "img-rounded"), asset_path("waves.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Waves" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("melodyne.jpeg", class: "img-rounded"), asset_path("melodyne.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Melodyne Auto Tune" %>
              </div>
              <div class="span1">
                  <br>
                <%= link_to image_tag("oxfordsonyeq.jpeg", class: "img-rounded"), asset_path("oxfordsonyeq.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Oxford Sony EQ" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("bombfactory.jpg", class: "img-rounded"), asset_path("bombfactory.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Bomb Factory" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("TLspacereverb.jpg", class: "img-rounded"), asset_path("TLspacereverb.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "TL Space Reverb" %>
              </div>
              <div class="span1">
                  <br>
                <%= link_to image_tag("pitchshift.png", class: "img-rounded"), asset_path("pitchshift.png"), class: "fancybox-button", rel: "fancybox-button", title: "Pitch Shift" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
              <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
              <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
            </div>
            <div class="span1">
            </div>
            <div class="span4">
              <br>
            <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Installed Software</h4>
            <br>
            <div class="span1">
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
              <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
              <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
              <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
              <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
            <div class="span1">
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch bay.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>
              <div class="span1">
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha power.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audio.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
            </div>
            
        </div>            
    </div>
    </div>
                      
