<div class="row">
  <div class="span12">
    <div class="span10">
      <p><font size="20">B</font>elle Isle Recording Studios is equipped with a <strong>Pro Tools HD 9.0 System</strong></p>
      <br>
      <p>All software is legitimate.</p>
      <br>

    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="span12">
    <div class="span1">
    </div>
    <div class="span5">
      <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Sound Mixing Equipment</h4>
      <br>
      <div class="span1">
      <%= link_to image_tag("control24.jpeg", class: "img-rounded"), asset_path("control24large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Control 24" %>
      </div>
        <div class="span1">
          <%= link_to image_tag("adconvertor.jpeg", class: "img-rounded"), asset_path("adconvertorlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "AD Convertor" %>
          </div>
            <div class="span1">
              <%= link_to image_tag("XLRPatch.jpeg", class: "img-rounded"), asset_path("XLRPatchlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "XLR Patch" %>
            </div>
          </div>
              <div class="span5">
                <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Speakers</h4>
                <br>
                  <div class="span1">
                    <%= link_to image_tag("V4 speakers.jpeg", class: "img-rounded"), asset_path("V4 speakerslarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "V4 Speakers" %>
                  </div>
                <div class="span1">
              <%= link_to image_tag("dynaudio.jpeg", class: "img-rounded"), asset_path("dynaudiolarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Dynaudio Acoustic" %>
              </div>
                <div class="span1">
                <%= link_to image_tag("YamahaNS10.jpeg", class: "img-rounded"), asset_path("YamahaNS10large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha NS 10 Speakers" %>
              </div>
            </div>
            <br />
            <br />
            <div class="row">
              <div class="span12">
                <div class="span1">
                </div>
                <div class="span5">
              <br>
              <br>
              <br>
              <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Amplifiers</h4>
              <br>
              <div class="span1">
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha powerlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Yamaha power amp" %>
                  </div>
                <div class="span1">
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audiolarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
                <div class="span1">
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch baylarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Quarter ins plus XLR patch bay" %>
              </div>

              <div class="span1">
                    <%= link_to image_tag("line6.jpeg", class: "img-rounded"), asset_path("line6large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Line 6" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("fenderdelux.jpeg", class: "img-rounded"), asset_path("fenderdeluxlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Fender Deluxe" %>
              </div>
                <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("mellennia.jpeg", class: "img-rounded"), asset_path("mellennialarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Mellennia HVD3" %>
              </div>
              <div class="span1">
                <br><br>
                    <%= link_to image_tag("korgtriton.jpeg", class: "img-rounded"), asset_path("korgtritonlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Korg Triton Rack x1" %>
                  </div>
                <div class="span1">
                  <br><br>
              <%= link_to image_tag("electrixmofx.jpeg", class: "img-rounded"), asset_path("electrixmofxlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Electrix Mo FX X1" %>
              </div>
            </div>
                <div class="span5">
                  <br>
                  <br>
                  <br>
                  <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Microphones</h4>
                  <br>
              <div class="span1">
                    <%= link_to image_tag("Wagneru47.jpeg", class: "img-rounded"), asset_path("Wagneru47large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Wagner U47" %>
                  </div>
                <div class="span1">
              <%= link_to image_tag("neumann103.jpeg", class: "img-rounded"), asset_path("neumann103large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Neumann TLM 103" %>
              </div>
                <div class="span1">
                <%= link_to image_tag("electrovoice.jpeg", class: "img-rounded"), asset_path("electrovoicelarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Electro Voice RE 20" %>
              </div>
              <div class="span1">

                    <%= link_to image_tag("sm57x3.jpeg", class: "img-rounded"), asset_path("sm57x3large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Shure SM57 X3" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("apex210.jpeg", class: "img-rounded"), asset_path("apex210large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Apex 210 Ribbon" %>
              </div>
                <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("akgd112.jpeg", class: "img-rounded"), asset_path("akgd112large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "AKG D112" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("rodent5.jpeg", class: "img-rounded"), asset_path("rodent5large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Rode NT5 X3" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("b1x2.jpeg", class: "img-rounded"), asset_path("b1x2large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "B1 X2" %>
              </div>
            </div>

            <div class="row">
              <div class="span12">
                <div class="span1">
                </div>
                <div class="span5">
                  <br>
                  <br>
                  <br>
                    <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Installed Software</h4>
                    <br>
                      <div class="span1">
                    <%= link_to image_tag("minimoog.jpeg", class: "img-rounded"), asset_path("minimooglarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Mini Moog" %>
                  </div>
                  <div class="span1">
                        <%= link_to image_tag("motu.jpeg", class: "img-rounded"), asset_path("motularge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Motu Symphonic" %>
                      </div>
                    <div class="span1">
                      <%= link_to image_tag("stylusrmx.jpeg", class: "img-rounded"), asset_path("stylusrmxlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Stylus RMX" %>
                    </div>
                    <div class="span1">
                <%= link_to image_tag("soundreplacer.jpeg", class: "img-rounded"), asset_path("soundreplacerlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Sound Replacer" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("waves.jpeg", class: "img-rounded"), asset_path("waveslarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Waves" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("melodyne.jpeg", class: "img-rounded"), asset_path("melodynelarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Melodyne Auto Tune" %>
              </div>
              <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("oxfordsonyeq.jpeg", class: "img-rounded"), asset_path("oxfordsonyeqlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Oxford Sony EQ" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("bombfactory.jpg", class: "img-rounded"), asset_path("bombfactorylarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Bomb Factory" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("TLspacereverb.jpg", class: "img-rounded"), asset_path("TLspacereverblarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "TL Space Reverb" %>
              </div>
              <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("pitchshift.png", class: "img-rounded"), asset_path("pitchshiftlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Pitch Shift" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("trueverb.jpeg", class: "img-rounded"), asset_path("trueverblarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "True Verb" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audiolarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Sure Tap 2 & 6" %>
              </div>
              <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("enigma.png", class: "img-rounded"), asset_path("enigmalarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "Enigma" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("funklogic.jpg", class: "img-rounded"), asset_path("funklogiclarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Funk Logic" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audiolarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Time Compression" %>
              </div>
              <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("deesser.png", class: "img-rounded"), asset_path("deesserlarge.png"), class: "fancybox-button", rel: "fancybox-button", title: "De Esser" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("viennastring.jpg", class: "img-rounded"), asset_path("viennastringlarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Vienna String" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audiolarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Universal Audio 6176" %>
              </div>
            </div>
            <div class="span5">
              <br>
              <br>
              <br>
            <h4><i class="icon-microphone icon-2x"></i>&nbsp;&nbsp;&nbsp;- Installed Software</h4>
            <br>
            <div class="span1">
                <%= link_to image_tag("organb4.jpeg", class: "img-rounded"), asset_path("organb4large.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Organ B4 II" %>
              </div>
              <div class="span1">
                    <%= link_to image_tag("softsample.jpeg", class: "img-rounded"), asset_path("softsamplelarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Soft Sample Cell" %>
                  </div>
                <div class="span1">
              <%= link_to image_tag("sampletank.jpeg", class: "img-rounded"), asset_path("sampletanklarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Sample Tank 2" %>
              </div>
              <div class="span1">

                <%= link_to image_tag("atmosphere.jpeg", class: "img-rounded"), asset_path("atmospherelarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Spectronic Atmosphere" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("antares.jpeg", class: "img-rounded"), asset_path("antareslarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Antares Auto-Tune" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("sampletankvst.jpeg", class: "img-rounded"), asset_path("sampletankvstlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Sample Tank VST MAS" %>
              </div>
              <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("filterbank.jpeg", class: "img-rounded"), asset_path("filterbanklarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Filter Bank EQ" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("toast.jpeg", class: "img-rounded"), asset_path("toastlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Toast" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("parametriceq.jpeg", class: "img-rounded"), asset_path("parametriceqlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "MDN Parametric EQ" %>
              </div>
              <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("dverb.jpeg", class: "img-rounded"), asset_path("dverblarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "D Verb" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("multitap.jpeg", class: "img-rounded"), asset_path("multitaplarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Multi Tap Delay" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("telray.jpeg", class: "img-rounded"), asset_path("telraylarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Tel Ray Delay" %>
              </div>
              <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch baylarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Chorus" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("Yamaha power.jpeg", class: "img-rounded"), asset_path("Yamaha powerlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Harmonic" %>
                  </div>
                <div class="span1">
                  <br>
                  <br>
              <%= link_to image_tag("Universal audio.jpeg", class: "img-rounded"), asset_path("Universal audiolarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Compressors" %>
              </div>
            <div class="span1">
                  <br>
                  <br>
                <%= link_to image_tag("XLR patch bay.jpg", class: "img-rounded"), asset_path("XLR patch baylarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Lexicon RB" %>
              </div>
              <div class="span1">
                <br>
                <br>
                    <%= link_to image_tag("omnisphere.jpeg", class: "img-rounded"), asset_path("omnispherelarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Omnisphere" %>
                  </div>
              </div>
