<br/>
 <div class="row">
  <div class="span11">
    <div class="span6">
      <p><span class="subHeader">B</span><span class="midText">elle Isle has a wonderful assortment of instruments and Spanish Acoustic instruments on hand. </span></p>

      <p class="bodyText" style="text-align: justify;">We take great pride in our instruments and have been collecting them for years; guests at Belle Isle get the opportunity to enjoy them also.</p>

      <p class="bodyText" style="text-align: justify;"> We also have available for our guests some very rare classic guitars that are in absolutely pristine condition.</p>
                      
      <p class="bodyText" style="text-align: justify;">Our guitars include: Gretsch Chet Atkins (40 years old on original in absolutely pristine condition.  original frets), US Strat, Paul Reed Smith, Fender Precision (Maple neck active bass, very rare 80’s), Rickenbacker Stereo Bass, Martin Acoustic, Dobra Acoustic and Spanish Acoustic.</p>

      <p align="left" class="bodyText"> Pianos and Keyboards: Heintzman Upright Acoustic Piano and Kurzweil K2500XS.</p>
      </div>

      <div class="span2">
    
  </div>
  <div class="span3">
    <%= link_to image_tag("guitar.jpg", class: "img-rounded"), asset_path("guitar.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Main Guitar" %>
  </div>

  <div class="row">
  <div class="span11">
    <div class="span2">
      <%= link_to image_tag("guitar_sm_2.jpg", class: "img-rounded"), asset_path("guitar_lg_2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Another Guitar" %>
    </div>
    <div class="span2">
    <%= link_to image_tag("guitar_sm_4.jpg", class: "img-rounded"), asset_path("guitar_lg_4.jpg"), class: "fancybox-button", rel: "fancybox-button" %>
    </div>
      <div class="span2">
        <%= link_to image_tag("studio10.jpg", class: "img-rounded"), asset_path("studio10_lg.jpg"), class: "fancybox-button", rel: "fancybox-button" %>
    </div>
    <div class="span2">
    
    </div>
    <div class="row">
  <div class="span12">
    <div class="span6">
    <hr>
  </div>
  </div>
</div>
    <div class="row">
  <div class="span12">
    <div class="span2">
   <%= link_to image_tag("guitar_sm2.jpg", class: "img-rounded"), asset_path("guitar_lg2.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Guitar" %>
    </div>
    <div class="span2">
    <%= link_to image_tag("studio2.jpg", class: "img-rounded"), asset_path("studio2_lg.jpg"), class: "fancybox-button", rel: "fancybox-button" %>
    </div> 
      <div class="span2">
    <%= link_to image_tag("guitar_sm_5.jpg", class: "img-rounded"), asset_path("guitar_lg_5.jpg"), class: "fancybox-button", rel: "fancybox-button" %>
    </div>
    <div class="row">
  <div class="span12">
    <div class="span6">
    <hr>
  </div>
  </div>
</div>
    <div class="row">
  <div class="span12">
    <div class="span2">
    <%= link_to image_tag("piano.jpg", class: "img-rounded"), asset_path("piano_lg.jpg"), class: "fancybox-button", rel: "fancybox-button" %>
    </div>
    <div class="span2">
    <%= link_to image_tag("keyboard_sm.jpg", class: "img-rounded"), asset_path("keyboard_lg.jpg"), class: "fancybox-button", rel: "fancybox-button" %>
    </div>
      <div class="span2">
    <%= link_to image_tag("guitar_sm_7.jpg", class: "img-rounded"), asset_path("guitar_lg_7.jpg"), class: "fancybox-button", rel: "fancybox-button" %>
    </div>

  </div>
</div>



      
