<div class="row">
  <div class="span12">
    <div class="span10">
      <p>Belle Isle has a wonderful assortment of instruments and Spanish Acoustic instruments on hand. </span></p>

      <p>We take great pride in our instruments and have been collecting them for years; guests at Belle Isle get the opportunity to enjoy them also. We also have available for our guests some very rare classic guitars that are in absolutely pristine condition.</p>

      <p>Our guitars include: Gretsch Chet Atkins (40 years old on original in absolutely pristine condition.  original frets), US Strat, Paul Reed Smith, Fender Precision (Maple neck active bass, very rare 80’s), Rickenbacker Stereo Bass, Martin Acoustic, Dobra Acoustic and Spanish Acoustic.</p>

      <p> Pianos and Keyboards: Heintzman Upright Acoustic Piano and Kurzweil K2500XS.</p>
      </div>

  <div class="row">
  <div class="span12">
    <div class="span3">
      <%= link_to image_tag("DrumsSidethumb.jpeg", class: "img-rounded"), asset_path("DrumsSidelarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Drum Room" %>
    </div>
    <div class="span3">
    <%= link_to image_tag("guitar_sm_4.jpg", class: "img-rounded"), asset_path("guitar_lg_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Rickenbacker Stereo Bass" %>
    </div>
      <div class="span3">
        <%= link_to image_tag("DrumsFrontthumb.jpeg", class: "img-rounded"), asset_path("DrumsFrontlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Drums" %>
    </div>
    <div class="span2">

    </div>
    <div class="row">
  <div class="span12">
    <div class="span10">
      <br>
  </div>
  </div>
</div>
    <div class="row">
  <div class="span12">
    <div class="span3">
   <%= link_to image_tag("PaulReedthumb.jpeg", class: "img-rounded"), asset_path("PaulReedlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Paul Reed-Smith" %>
    </div>
    <div class="span3">
    <%= link_to image_tag("Wilkinson.jpeg", class: "img-rounded"), asset_path("Wilkinsonthumb.jpeg"), class: "fancybox-button", rel: "fancybox-button" , title: "Wilkinson" %>
    </div>
      <div class="span3">
    <%= link_to image_tag("FenderPrecisionthumb.jpeg", class: "img-rounded"), asset_path("FenderPrecisionlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Fender Precision Base" %>
    </div>
    <div class="row">
  <div class="span12">
    <div class="span10">
  </div>
  <br>
  </div>
</div>
    <div class="row">
  <div class="span12">
    <div class="span3">
    <%= link_to image_tag("Heintzmannthumb.jpeg", class: "img-rounded"), asset_path("Heintzmannlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Heintzman Upright" %>
    </div>
    <div class="span3">
    <%= link_to image_tag("Kurtzwellthumb.jpeg", class: "img-rounded"), asset_path("Kurtzwelllarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Kurzweil K2500XS" %>
    </div>
      <div class="span3">
    <%= link_to image_tag("MartinAcousticthumb.jpeg", class: "img-rounded"), asset_path("MartinAcousticlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Martin Acoustic" %>
    </div>

  </div>
</div>
