<div class="row">
  <div class="span12">
    <div class="span7">
      <p><font size="20">B</font>elle Isle has a wonderful assortment of instruments on hand. </span></p>

      <p>We take great pride in our instruments and have been collecting them for years. Guests at Belle Isle also get the opportunity to enjoy them.</p>

      <p>Our guitars include:

        <ul>
          <li>Gretsch Chet Atkins (40 years old on original in absolutely pristine condition with original frets)</li>
          <li>Fender US Strat</li>
          <li>Paul Reed Smith</li>
          <li>Fender Precision (Maple neck active bass, very rare 80’s)</li>
          <li>Rickenbacker Stereo Bass</li>
          <li>Martin Acoustic</li>
          <li>Dobra Acoustic</li>
          <li>Spanish Acoustic</li>
          <li>Fender US Telecaster
        </ul>

      <p>Pianos and Keyboards:

        <ul>
          <li>Heintzman Upright Acoustic Piano</li>
          <li>Kurzweil K2500XS</li>
          </ul>
      </div>
      <div class="span1">
      </div>
      <div class="span3">
      <%= image_tag("grestch.jpeg") %>
    </div>
    <div class="row">
  <div class="span12">
    <br>
    <br>
    <div class="span2">
   <%= link_to image_tag("PaulReedthumb.jpeg", class: "img-rounded"), asset_path("PaulReedlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Paul Reed-Smith" %>
    </div>
    <div class="span2">
    <%= link_to image_tag("Wilkinsonthumb.jpeg", class: "img-rounded"), asset_path("Wilkinsonlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button" , title: "Fender US Strat" %>
    </div>
      <div class="span2">
    <%= link_to image_tag("FenderPrecisionthumb.jpeg", class: "img-rounded"), asset_path("FenderPrecisionlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Fender Precision Active Base" %>
    </div>
  <div class="span5">
    <div class="span2">
      <%= link_to image_tag("DrumsSidethumb.jpeg", class: "img-rounded"), asset_path("DrumsSidelarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Drum Room" %>
    </div>
    <div class="span2">
    <%= link_to image_tag("DrumRoomthumb.jpeg", class: "img-rounded"), asset_path("DrumRoomlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Drum Room" %>
    </div>
  </div>
<div class="row">
  <div class="span12">
    <br>
    <br>
    <div class="span2">
    <%= link_to image_tag("prsthumb.jpeg", class: "img-rounded"), asset_path("prslarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Electric Guitar" %>
    </div>
    <div class="span2">
    <%= link_to image_tag("MartinAcousticthumb.jpeg", class: "img-rounded"), asset_path("MartinAcousticlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Martin Acoustic" %>
    </div>
    <div class="span2">
    <%= link_to image_tag("Fenderthumb.jpeg", class: "img-rounded"), asset_path("Fenderlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Dobra Acoustic" %>
    </div>
    <div class="span5">
    <div class="span2">
    <%= link_to image_tag("Heintzmannthumb.jpeg", class: "img-rounded"), asset_path("Heintzmannlarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Heintzman Upright" %>
    </div>
    <div class="span2">
    <%= link_to image_tag("Kurtzwellthumb.jpeg", class: "img-rounded"), asset_path("Kurtzwelllarge.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Kurzweil K2500XS" %>
    </div>
  </div>
  <div class="row">
  <div class="span12">
    <br>
    <br>
    <div class="span2">
    <%= link_to image_tag("telecastorthumb.jpg", class: "img-rounded"), asset_path("telecastorlarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Fender Telecastor" %>
    </div>
    <div class="span2">
      <%= link_to image_tag("Rickenbackerthumb.jpg", class: "img-rounded"), asset_path("Rickenbackerlarge.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "Fender Telecastor" %>
    </div>
    <div class="span2">
    </div>
    <div class="span5">
    <div class="span2">
    </div>
    <div class="span2">
    </div>
  </div>
</div>
