<script>
$('#myModal1');
</script>

<div class="row">
  <div class="span12">
    <div class="span3">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item active"><%= image_tag("img5.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("img13.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("bklt4.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("blkt5E.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("bcktraypageinsideE.jpg", class: "img-rounded") %></div>
          </div>
          <div>
        </div>
      </div>
    </div>


      <div class ="span5" class="panel-group" id="accordion">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <h4><i class="icon-book icon-2x"></i> - Biography</h4>
              </a>
            </h4>
           </div>
           <br>
          <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <br>
        <p><font size="20">J</font>ade is a native of China who attended the prestigious Beijing Film Academy and starred in nine motion pictures and two TV series in her homeland before moving to Canada. Jade is well on her way to achieving her goal to be the first Asian crossover pop rock singer in North America.</p>

        <p>"I want people to know that Asian singers can do the same things as Latin singers and mix some of their native influences with their passions for American art forms like rock and soul. I have always enjoyed listening to different types of music; I like to keep an open mind rather than identify a single type of sound that defines me. I prefer to say that I love anything that touches me emotionally."</p>

        <p>"I learned a lot from making my first album and gained a great deal of confidence in myself, but my new album is something unique with a wider range of dynamics that create a vibe people will remember."</p>
        <br>
      </div>
    </div>
    <div>
      <h4><i class="icon-play icon-2x"></i>&nbsp;&nbsp;&nbsp; - Videography</h4>
    </div>
    <br>
    <div>
    <iframe width="380" height="195" src="//www.youtube.com/embed/XaHR6XerwLg?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
  </div>
  <br>
  <div>
    <iframe width="380" height="195" src="//www.youtube.com/embed/5T40B7-10Sw?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
</div>
  <div class ="span3" class="panel-group" id="accordion">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <h4><i class="icon-bullseye icon-2x"></i> - Discography</h4>
        </a>
      </h4>
    </div>
    <br>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">

          <div>
            <strong>Kiss Me</strong>
          <p><audio src="/music/Kiss Me.mp3" preload="auto" width="50" /></p>

        </div>
        </div>
        </div>

        <div>
          <strong>Til I Die</strong>
         <p><audio src="/music/Till I Die.mp3" preload="auto" width="50" /></p>

        </div>


        <div>
          <strong>Victim Of Love</strong>
         <p><audio src="/music/Victim Of Love.mp3" preload="auto" width="50" /></p>

        </div>


         <div>
          <strong>Lay Me Down</strong>
          <p><audio src="/music/Lay Me Down.mp3" preload="auto" width="50" /></p>

          </div>


           <div>
          <strong>3 Blind Mice</strong>
          <p><audio src="/music/Three Blind Mice.mp3" preload="auto" width="50" /></p>

        </div>

           <div>
          <strong>My Love Is Black</strong>
          <p><audio src="/music/My Love Is Black.mp3" preload="auto" width="50" /></p>

          </div>

           <div>
          <strong>If I catch My Breath</strong>
          <p><audio src="/music/If I Catch My Breath.mp3" preload="auto" width="50" /></p>

          </div>

           <div>
          <strong>Butterfly</strong>
          <p><audio src="/music/Butterfly.mp3" preload="auto" width="50" /></p>

          </div>

           <div>
          <strong>I Am Alive</strong>
          <p><audio src="/music/I Am Alive.mp3" preload="auto" width="50" /></p>

          </div>
           <div>
          <strong>Please Don't Touch Me</strong>
          <p><audio src="/music/Please Don't Touch Me.mp3" preload="auto" width="50" /></p>

          </div>
      </div>
    </div>
  </div>
  <script src="/audiojs/audio.min.js"></script>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

<script type="text/javascript">
            $(document).ready(function() {
              $('.carousel').carousel({
                interval:4000
              });
            });
          </script>
          <script language="javascript" type="text/javascript">
<!--
function popitup(url) {
  newwindow=window.open(url,'name','height=200,width=150');
  if (window.focus) {newwindow.focus()}
  return false;
}

// -->
</script>

<script>
function fnOpenNormalDialog() {
    $("#dialog-confirm").html("Confirm Dialog Box");

    // Define the Dialog and its properties.
    $("#dialog-confirm").dialog({
        resizable: false,
        modal: true,
        title: "Modal",
        height: 250,
        width: 400,
        buttons: {
            "Yes": function () {
                $(this).dialog('close');
                callback(true);
            },
                "No": function () {
                $(this).dialog('close');
                callback(false);
            }
        }
    });
}

$('#btnOpenDialog').click(fnOpenNormalDialog);

function callback(value) {
    if (value) {
        alert("Confirmed");
    } else {
        alert("Rejected");
    }
}
</script>
