<br/>
 <div class="row">

  <p>Jade is a native of China who attended the prestigious Beijing Film Academy and starred in nine motion pictures and two TV series in her homeland before moving to Canada. Jade is well on her way to achieving her goal to be the first Asian crossover pop rock singer in North America.
"I want people to know that Asian singers can do the same things as Latin singers and mix some of their native influences with their passions for American art forms like rock and soul. I have always enjoyed listening to different types of music; I like to keep an open mind rather than identify a single type of sound that defines me. I prefer to say that I love anything that touches me emotionally."
"I learned a lot from making my first album and gained a great deal of confidence in myself but my new album is something unique with a wider range of dynamics that create a vibe people will remember."</p>


 <center>
  <div class="span6">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item active"><%= image_tag("img5.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("img13.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("bklt4.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("blkt5E.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("bcktraypageinsideE.jpg", class: "img-rounded") %></div>
        </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>


        <script type="text/javascript">
        $(document).ready(function() {
          $('.carousel').carousel({
            interval:2000
          });
        });
        </script>
        <div class="span4">
        </div>

      
    </div>
    <div>
      <p class="bodyText">Roll over an image to pause the slide show.</p>
    </div>

  </center>

  </div>

                   </td>
                        <td width="10" height="24">&nbsp;</td>
                        <td width="147" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <!--DWLayoutTable-->
                            <tr>
                              <td width="148" height="24" valign="bottom" class="bodyText"><div align="center"><u>Music</u></div></td>
                            </tr>
                        </table></td>
                        <td width="11">&nbsp;</td>
                        <td width="150">&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="20">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="19">&nbsp;</td>
                    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <!--DWLayoutTable-->
                            
                            <tr>
                              <td width="147" height="19" valign="top" class="bodyText"><center>
                                <a href="images/jade/jade_album/Jade - Throw Me a Line - Album.wma"></a>
                                <a href="images/jade/jade_album/Jade - Victim of Love - Album.mp3" target="_blank">Victim Of Love                          </a>
                              </center></td>
                            </tr>
                        </table></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                  </tr>
                  
                  
                  
                  
                  
                  
                      <tr>
                        <td height="19"></td>
                        <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <!--DWLayoutTable-->
                            <tr>
                              <td width="147" height="19" valign="top" class="bodyText"><center>
                                
                                <a href="images/jade/jade_album/Jade -Lay Me Down - Album.mp3" target="_blank">Lay Me Down                          </a>
                              </center></td>
                            </tr>
                        </table></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                  
                  <tr>
                    <td height="19"></td>
                        <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <!--DWLayoutTable-->
                          <tr>
                            <td width="148" height="19" valign="bottom" class="bodyText"><div align="center"><a href="images/jade/Jade - Always.mp3" target="_blank">Always House Mix</a></div></td>
                          </tr>
                        </table>                        </td>
                        <td></td>
                        <td></td>
                  </tr>
                  <tr>
                    <td height="18"></td>
                    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <!--DWLayoutTable-->
                            
                            <tr>
                              <td width="147" height="18" valign="top"><center>
                                
                                <a href="images/jade/jade_album/Jade - Three Blind Mice - Album.mp3" target="_blank" class="bodyText">Three Blind Mice                                </a>
                              </center></td>
                            </tr>
                            
                            
                        </table></td>
                        <td></td>
                    <td></td>
                  </tr>
                  
                  <tr>
                    <td height="19" colspan="3" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <!--DWLayoutTable-->
                            
                            <tr>
                              <td width="168" height="18" valign="top" class="bodyText"><div align="center"><a href="images/jade/Jade - Three Blind Mice House.mp3" target="_blank">Three Blind Mice House Mix</a></div></td>
                            </tr>
                            
                            
                            
                            
                        </table></td>
                        <td>&nbsp;</td>
                  </tr>
                  
                  
                  

                  
                  
                  
                  </table></td>
                </tr>
              <tr>
                <td height="330" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <!--DWLayoutTable-->
                  
                  <tr>
                    <td width="444" height="330" valign="top"><blockquote>
                      <p align="left"><span class="bodyText">Jade is a native   of China who attended the prestigious Beijing Film Academy and starred in nine   motion pictures and two 
                        TV series in her homeland before moving to Canada. </span><span class="bodyText">Jade is   well on her way to achieving her goal to be the first Asian crossover
                          pop rock   singer in North America.</span></p>
                            <p align="left"><span class="bodyText"> &quot;I want people to know that Asian singers can do  the   same things as Latin singers and mix some of their native influences with their   passions for American art forms like rock and  
                                soul. I have always enjoyed listening to different types of music; I like to keep an open mind rather than identify a single type of sound that defines
                                
                              me. I prefer to say that I   love anything that touches me  emotionally.&quot;</span></p>
                            <p align="left"><span class="bodyText"> &quot;I learned a lot from making my first album and gained a
                                great deal of confidence in myself but<em> my new album </em>is something  unique with a wider range of dynamics that create a vibe 
                                people will remember.&quot;<br />
                              </span><span class="bodyText"><br />
                            </span></p>
                        </blockquote></td>
                      </tr>
                  
                  
                  
                  
                  
                  </table></td>
                </tr>
              
              

              
              
              
              
              
              
              
              
            </table></td>
          <td></td>
        </tr>
        <tr>
          <td rowspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="152" height="114" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="152" height="114" valign="top"><div align="center"><img src="images/jade/jade_sm11.jpg" width="137" height="114" class="redborder" /></div></td>
                      </tr>
                </table></td>
                  <td width="152" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="152" height="114" valign="top"><div align="center"><img src="images/jade/jade_sm7.jpg" width="137" height="114" class="redborder" /></div></td>
                      </tr>
                  </table></td>
                  <td width="152" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="152" height="114" valign="top"><div align="center"><img src="images/jade/jade_sm8.jpg" width="137" height="114" class="redborder" /></div></td>
                      </tr>
                  </table>                </td>
                </tr>
            
            
            
            
            
            
            
            
          </table></td>
          <td height="85"></td>
        </tr>
        <tr>
          <td rowspan="3" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="444" height="99" valign="middle"><center>
                <img src="images/jade/jade_logo.jpg" width="300" height="70" />
                </center></td>
                </tr>
            
          </table></td>
          <td height="31"></td>
        </tr>
        
        <tr>
          <td height="31" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="450" height="31" valign="middle"><div align="center"><img src="images/line_gold_1.jpg" width="450" height="1" /></div></td>
                </tr>
          </table></td>
            <td></td>
        </tr>
        <tr>
          <td rowspan="3" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="152" height="114" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="152" height="114" valign="top"><div align="center"><img src="images/jade/jade_sm10.jpg" width="137" height="114" class="redborder" /></div></td>
                      </tr>
                </table></td>
                  <td width="152" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="152" height="114" valign="top"><div align="center"><img src="images/jade/img4.jpg" width="137" height="114" class="redborder" /></div></td>
                      </tr>
                  </table></td>
                  <td width="152" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="152" height="114" valign="top"><div align="center"><img src="images/jade/jade_sm6.jpg" width="137" height="114" class="redborder" /></div></td>
                      </tr>
                  </table>                </td>
                </tr>
          </table></td>
            <td height="37"></td>
        </tr>
        <tr>
          <td height="47" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="444" height="24" valign="top"><center>
                <span class="calendarText">Jade's Website </span>
                </center>              </td>
              </tr>
            <tr>
              <td height="23" valign="top">              </td>
              </tr>
            
          </table></td>
          <td></td>
        </tr>
        <tr>
          <td height="32">&nbsp;</td>
          <td></td>
        </tr>
        
        <tr>
          <td height="31" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="450" height="31" valign="middle"><div align="center"><img src="images/line_gold_1.jpg" width="450" height="1" /></div></td>
                </tr>
          </table></td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
        <tr>
          <td height="535" colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="450" height="395" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="450" height="395" align="center" valign="middle"><object width="425" height="349"><param name="movie" value="http://www.youtube.com/v/XaHR6XerwLg?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/XaHR6XerwLg?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="349"></embed></object>                  </td>
                </tr>
              </table>              </td>
              <td width="451" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="451" height="395" align="center" valign="middle"><object width="425" height="349"><param name="movie" value="http://www.youtube.com/v/5T40B7-10Sw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/5T40B7-10Sw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="349"></embed></object></td>
                </tr>
              </table>
              </td>
            </tr>
            <tr>
              <td height="140" colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="900" height="140" valign="top"><img src="images/btm.jpg" alt="Belle Isle Recording Studio" width="900" height="140" /></td>
                  </tr>
                </table></td>
          </tr>
          </table>
          </td>
          <td></td>
        </tr>
        
        


        
  </table></td>
    </tr>
    <tr>
      <td height="109" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="900" height="19" valign="top"><div align="center"><img src="images/bar1.jpg" width="896" height="19" /></div></td>
              </tr>
                
                <tr>
                  <td height="43" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="900" height="19" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="900" height="19" valign="top"><div align="center"><img src="images/line_red.jpg" width="896" height="19" /></div></td>
                          </tr>
                        </table></td>
                    </tr>
                    
                    <tr>
                      <td height="24" valign="middle" class="bodyText"><div align="center"><a href="index.htm">Home</a> l <a href="DavidBowerBio.htm">Biography </a>l <a href="studio.htm">Studio</a> l <a href="Instruments.htm">Instruments</a> l <a href="gear.htm">Gear</a> l <a href="contact.htm">Contact</a> l <a href="jade.htm">Jade</a> l <a href="noajules.htm">NoaJules</a> l <a href="Sachika.htm">Sachika</a> l <a href="DWB.htm">DWB </a>l <a href="musicians.htm">Musicians </a>l <a href="vocalcoaching.htm">Vocal Coaching</a> l <a href="workshops.htm">Workshops</a> l <a href="retreat.htm">Retreat </a>I <a href="studiomascots.htm">Studio Mascots</a></div></td>
                    </tr>
                    </table></td>
              </tr>
                <tr>
                  <td height="47" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="901" height="18" valign="top" class="bodyText"><div align="center">Copyright &copy; Belle Isle Studios</div></td>
                    </tr>
                    <tr>
                      <td height="29" valign="middle"><div align="center"><img src="images/line_gold_1.jpg" width="900" height="1" /></div></td>
                    </tr>
                    </table></td>
              </tr>
                
                
                </table></td>
    </tr>
  </table>
</div>
