<br/>
 <div class="row">

  <div class="span11">
    <%= image_tag("Jade_Name.jpg", class: "img-rounded") %>
  <div class="span4">

      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item active"><%= image_tag("img5.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("img13.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("bklt4.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("blkt5E.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("bcktraypageinsideE.jpg", class: "img-rounded") %></div>
          </div>


        <script type="text/javascript">
        $(document).ready(function() {
          $('.carousel').carousel({
            interval:4000
          });
        });
        </script>



           <div>
          
        </div>

      </div>
      
    </div>
    
    <div>
      <div class ="span6" class="panel-group" id="accordion">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">         
          <span class="subHeader">B</span><span class="midText">iography</span>        
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p class="bodyText" style="text-align: justify;">Jade is a native of China who attended the prestigious Beijing Film Academy and starred in nine motion pictures and two TV series in her homeland before moving to Canada. Jade is well on her way to achieving her goal to be the first Asian crossover pop rock singer in North America.</p>

        <p class="bodyText" style="text-align: justify;">"I want people to know that Asian singers can do the same things as Latin singers and mix some of their native influences with their passions for American art forms like rock and soul. I have always enjoyed listening to different types of music; I like to keep an open mind rather than identify a single type of sound that defines me. I prefer to say that I love anything that touches me emotionally."</p>

        <p class="bodyText" style="text-align: justify;">"I learned a lot from making my first album and gained a great deal of confidence in myself, but my new album is something unique with a wider range of dynamics that create a vibe people will remember."</p>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <span class="subHeader">M</span><span class="midText">usic</span> 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="bodyText">
          <li>Kiss Me</li>
          <li>Victim Of Love</li>
          <li>Lay Me Down</li>
          <li>Three Blind Mice</li>
          <li>Throw Me A Line</li>
          <li>My Love Is Black</li>
          <li>If I catch My Breath</li>
          <li>Butterfly</li>
          <li>Always</li>
          <li>I Am Alive</li>
          <li>Please Don't Touch Me</li>
        </ul>
      </div>
    </div>
  </div>
  
  </div>
</div>
    </div>

  </center>

  </div>
  <br>
  <br>
  <br>

    <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--DWLayoutTable-->
            <tr>
              <td width="450" height="395" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="450" height="395" align="center" valign="middle"><object width="425" height="349"><param name="movie" value="http://www.youtube.com/v/XaHR6XerwLg?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/XaHR6XerwLg?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="349"></embed></object>                  </td>
                </tr>
              </table>              </td>
              <td width="451" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                  <td width="451" height="395" align="center" valign="middle"><object width="425" height="349"><param name="movie" value="http://www.youtube.com/v/5T40B7-10Sw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/5T40B7-10Sw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="349"></embed></object></td>
                </tr>
              </table>
              </td>
            </tr>
            <tr>
          
        </tr>
        
        


        
  </table>



