<script src="/audiojs/audio.min.js"></script>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>


<br/>
 <div class="row">
  <div class="span12">
    <div class="span3">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item active"><%= image_tag("img5.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("img13.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("bklt4.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("blkt5E.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("bcktraypageinsideE.jpg", class: "img-rounded") %></div>
          </div>

          <script type="text/javascript">
            $(document).ready(function() {
              $('.carousel').carousel({
                interval:4000
              });
            });
          </script>

          <div>          
        </div>
      </div>      
    </div>
    
    <div>
      <p><%= image_tag("Jade_Name.jpg", class: "img-rounded") %></p>
      <div class ="span5" class="panel-group" id="accordion">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">         
              <span>Biography</span>        
              </a>
            </h4>
           </div>
          <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
        <p>Jade is a native of China who attended the prestigious Beijing Film Academy and starred in nine motion pictures and two TV series in her homeland before moving to Canada. Jade is well on her way to achieving her goal to be the first Asian crossover pop rock singer in North America.</p>

        <p>"I want people to know that Asian singers can do the same things as Latin singers and mix some of their native influences with their passions for American art forms like rock and soul. I have always enjoyed listening to different types of music; I like to keep an open mind rather than identify a single type of sound that defines me. I prefer to say that I love anything that touches me emotionally."</p>

        <p>"I learned a lot from making my first album and gained a great deal of confidence in myself, but my new album is something unique with a wider range of dynamics that create a vibe people will remember."</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="span1">
  </div>
  <div class ="span3" class="panel-group" id="accordion">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <p>Discography</span> 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">

          <div>
            <strong>Kiss Me</strong>
          <p><audio src="/music/01 Kiss Me.mp3" preload="auto" width="50" /></p>
        </div>
        

        <div>
          <strong>Victim Of Love</strong>
         <p><audio src="/music/02 Victim Of Love.mp3" preload="auto" width="50" /></p>
        </div>
        

         <div>
          <strong>Lay Me Down</strong>
          <p><audio src="/music/03 Lay Me Down.mp3" preload="auto" width="50" /></p>
          </div>
          

           <div>
          <strong>Three Blind Mice</strong>
          <p><audio src="/music/04 Three Blind Mice.mp3" preload="auto" width="50" /></p>
        </div>
         
           <div>
          <strong>Throw Me A Line</strong>
          <p><audio src="/music/05 Throw Me A Line.mp3" preload="auto" width="50" /></p>
          </div>

           <div>
          <strong>My Love Is Black</strong>
          <p><audio src="/music/06 My Love Is Black.mp3" preload="auto" width="50" /></p>
          </div>

           <div>
          <strong>If I catch My Breath</strong>
          <p><audio src="/music/07 If I catch My Breath.mp3" preload="auto" width="50" /></p>
          </div>

           <div>
          <strong>Butterfly</strong>
          <p><audio src="/music/08 Butterfly.mp3" preload="auto" width="50" /></p>
          </div>

           <div>
          <strong>Always</strong>
          <p><audio src="/music/09 Always.mp3" preload="auto" /></p>
          </div>

           <div>
          <strong>I Am Alive</strong>
          <p><audio src="/music/10 I Am Alive.mp3" preload="auto" width="50" /></p>
          </div>
           <div>
          <strong>Please Don't Touch Me</strong>
          <p><audio src="/music/11 Please Don't Touch Me.mp3" preload="auto" width="50" /></p>
          </div>
      </div>
    </div>
  </div>
  
  



  
        
        






