<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span6">
        <p>The Cherokees</p>
        <p>Tbis is where we need to put bio.</p>
      </div>

      <div class="span5">
        <p><%= link_to image_tag("cherokees4.jpeg", class: "img-rounded"), asset_path("cherokees4.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
          <br>
      </div>
    </div>
</div>
<br>
<div class="row">
  <div class="span12">
    <div class="span2">
      <p><%= link_to image_tag("cherokees1.jpeg", class: "img-rounded"), asset_path("cherokees1.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
      <p><%= link_to image_tag("cherokees5.jpeg", class: "img-rounded"), asset_path("cherokees5.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
    </div>
    <div class="span2">

      <p><%= link_to image_tag("cherokees3.jpeg", class: "img-rounded"), asset_path("cherokees3.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
      <p><%= link_to image_tag("cherokees7.jpeg", class: "img-rounded"), asset_path("cherokees7.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
    </div>
    <div class="span2">
      <p><%= link_to image_tag("cherokees8.jpeg", class: "img-rounded"), asset_path("cherokees8.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
      <p><%= link_to image_tag("cherokees6.jpeg", class: "img-rounded"), asset_path("cherokees6.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
    </div>
    <div class="span5">
      <p>More bio in here.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span6">
        <p>More Bio in here</p>
      </div>

      <div class="span5">
        <iframe width="380" height="195" src="//www.youtube.com/embed/I55TCjeBlTg#t=2511?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span6">
        <p>More Bio</p>
      </div>

      <div class="span2">

          <p><%= link_to image_tag("joking1.jpeg", class: "img-rounded"), asset_path("joking1.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "You must be joking!" %></p>
          <br>
      </div>
      <div class="span3">
          <p><%= link_to image_tag("cavemen1.jpeg", class: "img-rounded"), asset_path("cavemen1.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
          <br>
      </div>
    </div>
</div>
<br>
<br>
<div class="span6">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
          <div class="item active"><%= image_tag("davidwbower1.jpeg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("nypl2.jpeg", class: "img-rounded") %></div>
        </div>
      </div>
    </div>

        <div class="span5">
           <p><font size="20">N</font>ew York Public Library Bio here.</p>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="span12">
        <div class="span6">
            <p><font size="20">J</font>ohn</p>
    </div>
    <div class="span5">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item active"><%= image_tag("john1.jpeg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("john2.jpeg", class: "img-rounded") %></div>
          </div>
          <div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function() {
          $('.carousel').carousel({
            interval:4000
          });
        });
        </script>


