<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span6">
        <p>The Cherokees</p>
        <p>Well we did lads best band in Yorkshire not bad to say we've only been together for a few months that started us on our life long journey in the music business.</p>

          <p>Band members John Kirby Wollard, Tez Stokes, David Bower, Mick Sweeney, Jim Green and roadie Jeff Hale.</p>
      </div>

      <div class="span5">
        <p><%= link_to image_tag("cherokees4.jpeg", class: "img-rounded"), asset_path("cherokees4.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees - Won cup for best band in Yorkshire." %></p>
          <br>
      </div>
    </div>
</div>
<br>
<div class="row">
  <div class="span12">
    <div class="span2">
      <p><%= link_to image_tag("cherokees1.jpeg", class: "img-rounded"), asset_path("cherokees1.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Jim Green, Tez Stokes, Mike Sweeney, David Bower, John Woolard" %></p>
      <p><%= link_to image_tag("cherokees5.jpeg", class: "img-rounded"), asset_path("cherokees5.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
    </div>
    <div class="span2">

      <p><%= link_to image_tag("cherokees3.jpeg", class: "img-rounded"), asset_path("cherokees3.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
      <p><%= link_to image_tag("cherokees7.jpeg", class: "img-rounded"), asset_path("cherokees7.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees - Says it all! Rollin' who?" %></p>
    </div>
    <div class="span2">
      <p><%= link_to image_tag("cherokees8.jpeg", class: "img-rounded"), asset_path("cherokees8.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
      <p><%= link_to image_tag("cherokees6.jpeg", class: "img-rounded"), asset_path("cherokees6.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "Off t' the Big Smoke with Geoff Hale, Trusty Road Manager." %></p>
    </div>
    <div class="span5">
      <p>After  that we headed  in our  band van to the big smoke LONDON  where we gigged non stop pub,clubs anywhere they'd have us.</p>

      <p>Also performed regularly at the Star Club in Hamburg along with many of the big stars of the time.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span6">
        <p>We got a record contract with Decca and later our producer was Micky Most, recording hits such as Seven Golden Daffodils and Dig a Little Deeper</p>

      <p>Oh, what happy days, eh lads?</p>

      <p>I will never forget what one of the judges, Sir Jimmy Saville, said to me after winning the competition: "Dave lad, when you become rich and famous, don't spend your money on a house. Buy a great car 'cause
      nobody sees you in your bloody house!</p>

      <p>And Ive had some lovely cars in my time !!!!</p>

      <p>Starred in this British comedy You must be Joking, directed by Michael Winner.</p>

      <p>Don't laugh at the hats! it wasn't our idea, that was up to the movie producer.</p>

      <p>Decided we liked the music business better!</p>

      </div>

      <div class="span5">
        <iframe width="380" height="195" src="//www.youtube.com/embed/I55TCjeBlTg#t=2511?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span6">
        <p></p>
      </div>

      <div class="span2">

          <p><%= link_to image_tag("joking1.jpeg", class: "img-rounded"), asset_path("joking1.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "You must be joking!" %></p>
          <br>
      </div>
      <div class="span3">
          <p><%= link_to image_tag("cavemen1.jpeg", class: "img-rounded"), asset_path("cavemen1.jpeg"), class: "fancybox-button", rel: "fancybox-button", title: "The Cherokees" %></p>
          <br>
      </div>
    </div>
</div>
<br>
<br>
<div class="span6">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
          <div class="item active"><%= image_tag("davidwbower1.jpeg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("nypl2.jpeg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("NYPL bookshop 6.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("NYPL play 12.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("NYPL 1968 Sepia.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("Little-Big-Man-JPEG-cropped1.jpeg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("Little-Big-Man-3.jpg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("BMW6.jpg", class: "img-rounded") %></div>
        </div>
      </div>
    </div>

        <div class="span5">
           <p>In 1965, New York Public Library emerged with new drummer Mick Ibbotson. The band toured extensively all the pubs, Club Halls and Universities</p>

          <p>Brian Parish joined the band in 1968. Had two new releases on MCA label, 'Gotta Get Away' and 'Love Me Two Times'. Topper Clay also became our drummer at this time.</p>

          <p>1969 Pete Morrison replaced Brian Parrish. We went on to work with B & C Records and released - under the Management of Danny O' Donovan - The Boston Tapes.</p>

          <p>What a team. What a sound. And whate a time!</p>

          <p>Little Big Man and BMW emerged later to record great many tracks.
            Vocalists Bower, Morrison, Wollard, Howard Fulbrook forming BMW</p>

          <p>Various musicians came and went: Jeff Rich (Drums), Keith Pursell (Lead Guitar), John Danter (Lead Guitar), Andy Hill (Keyboards) and Graham Walker (Drums).</p>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="span12">
        <div class="span6">
            <p><font size="20">J</font>ohn</p>
            <p>John Kirby Wollard, nickname " One Take Wollard.<p>

            <p>As the words say, he always got it right the first time and would always surprise us by putting in that extra special bit of magic!</p>
            <p>A gentle giant with a big heart, spirit, voice and soul, whom gave me the inspiration to sing and write.</p>

            <p>Thank you John for all your support and wisdom</p>

            <p>You will be forever with me in my heart</p>

            <p>Goodbye my Friend </p>
    </div>
    <div class="span5">
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="item active"><%= image_tag("john1.jpeg", class: "img-rounded") %></div>
            <div class="item"><%= image_tag("john4.jpg", class: "img-rounded") %></div>
          </div>
          <div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function() {
          $('.carousel').carousel({
            interval:4000
          });
        });
        </script>


