<br/>
 <div class="row">
  <div class="span11">
    <div class="span6">
      <p>Located in a beautiful and private waterfront home; Belle Isle has all of the amenities and gear needed to produce top quality master recordings.</p>

      <p>We have three great rooms; our concrete “Dead Room” houses our drum kit and is linked to the control room via closed circuit television. Our “Live Room” measures seventeen feet nine inches by eleven feet 9 inches and is also linked to the control room via closed circuit television and our "Control  Room"measures thirteen feet nine inches by thirteen feet two inches.</p>

      <p>We have excellent acoustics and are proud to offer one of  the world’s finest microphones; the classic “Wagner U47” with pre amp. This  mike was one of the best of it’s time and even today has few rivals with a  better sound.</p>

      <p>Belle Isle has a wide range of excellent top flight  musicians available to help you on your next collaboration. We are rich in equipment, rich in experience and are excited about helping you to complete your next  great project. </p>
    </div>
    <div class="span2">
        <%= image_tag("studio_mixer.jpg") %>
      </div>
      <div class="span2">
        <br/>
      </div>
      <div class="span2">        
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="span1">
          <%= image_tag("studio_mixer.jpg") %>
        </div>
        <div class="span1">
          <%= image_tag("studio_mixer.jpg") %>
        </div>
        <div class="span1">
          <%= image_tag("studio_mixer.jpg") %>
        </div>
        <div class="span1">
          <%= image_tag("studio_mixer.jpg") %>
        </div>
        <div class="span1">
          <%= image_tag("studio_mixer.jpg") %>
        </div>
        <div class="span1">
          <%= image_tag("studio_mixer.jpg") %>
        </div>
      </div>
    </div>


  </div>

                    
