<!DOCTYPE html>
<html>
<head>
  <title>BelleIsleStudios</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Biography", welcome_biography_path %></li>
        <li><%= link_to "Studio", welcome_studio_path %></li>
        <li><%= link_to "Instruments", welcome_instruments_path %></li>
        <li><%= link_to "Gear", welcome_gear_path %></li>
        <li><%= link_to "Artists", welcome_artists_path %></li>
        <li><%= link_to "Musicians", welcome_musician_path %></li>
        <li><%= link_to "Studio Mascots", welcome_mascots_path %></li>
        <li><%= link_to "Workshops", welcome_workshops_path %></li>
        <li><%= link_to "Retreat", welcome_retreat_path %></li>
        <li><%= link_to "Contact", welcome_contact_path %></li>
    </ul>

<%= yield %>

</body>
</html>
