<!DOCTYPE html>
<html>
<head>
  <title>Belle Isle Studios</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
  $(document).ready(function() {
  $("a.fancybox-button").fancybox({
    prevEffect    : 'none',
    nextEffect    : 'none',
    closeBtn    : true,
    helpers   : {
      title : { type : 'inside' },
      buttons : {}
    }
  });
});
</script>

</head>
<body>
  <div class="container">
    <%= image_tag("main-bg.jpg") %>
    <div class="row">
    <div class="span12">
    <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Studio<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Instruments", instruments_path %></li>              
              <li><%= link_to "Musicians", musician_path %></li>
              <li><%= link_to "Gear", gear_path %></li>
              <li><%= link_to "Workshops", workshops_path %></li>
            </ul>
          </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Artists<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Jade", jade_path %></li>              
              <li><%= link_to "DWB", dwb_path %></li>
              <li><%= link_to "Valann", valann_path %></li>
              <li><%= link_to "Stephanie Greaves", stephanie_path %></li>
            </ul>
        </li>
        <li><%= link_to "Studio Mascots", mascots_path %></li>
        <li><%= link_to "Sanctuary", retreat_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
    </ul>
    

    <%= yield %>
  </div>
</div>
</div>
    <div class="row">
    <div class="span12">
      <%= image_tag("btm.jpg") %>
    </div>
    </div>
  </div>
  <div>
  <center><p>Copyright &copy; Belle Isle Studios</p></center>
  </div>
</body>
</html>
