<!DOCTYPE html>
<html>
<head>
  <title>Belle Isle Studios</title>
  <meta name="Description" content=" Belle Isle Studios - Professional Recording, Mastering and Production Studio, Recording Studio, custom music composition, sound effects design, editing and mastering services. Digital Sound  Recording, Professional Recording and Audio Production" />
<meta name="Keywords" content="Belle Isle Recording Studio,Victoria, B.C., Vancouver Island Recording Studios, Vancouver Recording Studios, Digital Recording Studio, Recording Facility Victoria  Recording Studios, singers, musicians, recording studio, music studio, recording, music, studio, songs, mixing, mastering, engineer, vancouver, post, production, pre, band, guitar, keyboard, bass, CD, DVD, recording studio, music studio, recording, music, studio, songs, mixing, engineer, vancouver, post, production, band, guitar, keyboard, bass, CD, DVD, download, sound, audio, editing, commentary, sound effects, design, pro tools, engineer, record, microphone, canada, custom, publishing, mixing, music studios, cd mastering, digital editing, studios, platinum, gold recording, music production, soundtracks, midi, sequencing, analog, producers, gold, studio, automated mixing, records, commercial, production, audio for video, voice overs, microphones, Valann, Jade" />
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
  $(document).ready(function() {
  $("a.fancybox-button").fancybox({
    prevEffect    : 'none',
    nextEffect    : 'none',
    closeBtn    : true,
    helpers   : {
      title : { type : 'inside' },
      buttons : {}
    }
  });
});
</script>

<%= favicon_link_tag 'animated_favicon1.gif' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44438618-1', 'belle-isle-studios.herokuapp.com');
  ga('send', 'pageview');

</script>

<script type="text/javascript">

function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}

document.onkeypress = stopRKey;

</script>

</head>
<body>
  <div class="container">
    <div class="row">
          <div class="span12">
            <%= image_tag("main-bg2.jpg") %>
            <ul class="nav nav-tabs">
              <li><%= link_to "Home", root_path %></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Studio<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Control Room", control_room_path %></li>
              <li><%= link_to "Instruments", instruments_path %></li>
              <li><%= link_to "Musicians", musician_path %></li>
              <li><%= link_to "Gear", gear_path %></li>
              <li><%= link_to "Workshops", workshops_path %></li>
              <li><%= link_to "Belle Isle", belle_isle_path %></li>
              <li><%= link_to "Mascots", mascots_path %></li>

            </ul>
          </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Artists<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Jade", jade_path %></li>
              <li><%= link_to "DWB", dwb_path %></li>
              <li><%= link_to "Valann", valann_path %></li>
              <li><%= link_to "Maria Manna", maria_path %></li>
              <li><%= link_to "Belle Isle Publishing", exbrit_path %></li>
            </ul>
        </li>
        <li><%= link_to "Memory Lane", memory_path %></li>
        <li><%= link_to "Sanctuary", sanctuary_path %></li>
        <li><%= link_to "Contact", new_visitor_path %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="span6">
      <p><%= Time.now.strftime('%d %B, %Y')%></p>
    </div>
    <!-- <div class="span0 itunes-image">
      <a href="#" target="_blank">
      <%= image_tag("itunes_download.png") %>
    </a>
    </div> -->
    <div class="span0">
      <a href="https://play.google.com/store/apps/details?id=io.appery.project124045" target="_blank">
  <img alt="Android app on Google Play"
       src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
</a>
    </div>
    <div class="span1">
    </div>
    <div class="span0">
      <p><a href="https://soundcloud.com/belleislestudios" target="_blank"><%= image_tag("soundcloud.jpeg") %></a>
    </div>
    <div class="span0">
      <a href="https://www.facebook.com/belleislestudios" target="_blank"><%= image_tag("facebook.jpeg") %></a>
    </div>
    <div class="span0">
      <a href="https://twitter.com/Bowerdb" target="_blank"><%= image_tag("twitter.jpeg") %></a>
    </div>
    <div class="span0">
      <a href="http://www.linkedin.com" target="_blank"><%= image_tag("linkedin.jpeg") %></a>
    </div>
  </div>
</div>
<br>
<br>
<%= yield %>
    <div class="row">
    <div class="span12">
      <br>
    <p class="footer">All Songs, Lyrics , Melody and Production produced by David W. Bower &copy 2013 Belle Isle Studios</p>
    </div>
  </div>
  </div>
</body>
</html>
